@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
}
.navbar .backgorund {
  width: 50%;
  background-color: red;
  position: absolute;
  right: 0;
  z-index: -3;
  bottom: 0;
  top: 0;
}
.navbar-title p {
  font-size: 32px;
}
.navbar-title p span:nth-child(1) {
  color: rgb(188, 0, 22);
  font-family: "DynaPuff";
}
.navbar-title p span:nth-child(2) {
  color: orange;
  font-family: "DynaPuff";
}
.navbar-menu {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}
.navbar-menu a {
  text-decoration: none;
  color: white;
}
.navbar-menu a:nth-child(1) {
  color: rgb(188, 0, 22);
  font-weight: 500;
}
.navbar-tel {
  color: white;
}
.navbar-tel i {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 15px 15px 0 15px;
  transform: scaleX();
}
.navbar-tel i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.3s;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 50px;
  position: relative;
}
.banner .backgorund {
  width: 50%;
  background-color: red;
  position: absolute;
  right: 0;
  z-index: -3;
  bottom: 0;
  top: 0;
}
.banner-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.banner-left button {
  background-color: rgb(188, 0, 22);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 15px;
}
.banner-middle {
  width: 33%;
  position: relative;
}
.banner-middle span {
  position: absolute;
  top: 5%;
  right: 7%;
  background-color: #ffc736;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 30px;
}
.banner-middle img {
  width: 100%;
  height: auto;
  transform: scaleX();
}
.banner-middle img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
.banner-right {
  width: 33%;
  text-align: end;
}
.banner-right h4 {
  color: #ffc736;
  font-size: 28px;
}

.product {
  padding: 20px 50px;
  border-top: 5px solid black;
}
.product-title {
  text-align: center;
}
.product-title h1 {
  color: rgb(188, 0, 22);
}
.product-title span {
  font-family: "DynaPuff";
}
.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
}
.products-card {
  width: 270px;
  text-align: center;
  box-shadow: 2px 2px 5px gray;
  border-radius: 40px 40px 0px 0px;
  margin-bottom: 10px;
}
.products-card:hover {
  transform: scaleX();
}
.products-card:hover:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
.products-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgb(188, 0, 22);
  text-overflow: ellipsis;
  border-radius: 40px 40px 0px 0px;
}
.products-card p {
  margin: 10px 0;
}
.products-card-content {
  display: flex;
  justify-content: space-around;
}
.products-card-content span {
  background-color: #ffc736;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 30px;
}
.products-card-order i {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 15px 15px 0 15px;
  transform: scaleX();
  background-color: black;
  color: white;
}
.products-card-order i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
.products-card-order button {
  background-color: rgb(188, 0, 22);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 15px;
}

/*ORDER*/
.order {
  width: 100%;
  padding: 50px 0;
  display: flex;
  border-top: 5px solid black;
}
.order-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 9px black;
  overflow-x: hidden;
  transform: rotate(5deg);
}
.order-card-left {
  background-color: rgb(188, 0, 22);
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 65%;
  align-items: start;
  padding: 0 0 15px 15px;
}
.order-card-left h3 {
  color: white;
}
.order-card-left button {
  background-color: rgb(188, 0, 22);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 15px;
  background-color: white;
  color: rgb(188, 0, 22);
}
.order-card-right {
  width: 35%;
  background-color: #ffc736;
}
.order-card-right img {
  width: 300px;
}

/*SOCIAL*/
.social {
  width: 100%;
  padding: 20px 50px;
  border-top: 5px solid black;
}
.social-title {
  text-align: center;
  color: rgb(188, 0, 22);
}
.social-card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}
.social-cards {
  flex: 1 1 220px;
}
.social-card img {
  width: 100px;
}

/*FOOTER*/
.footer {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  border-top: 5px solid black;
  gap: 40px;
}
.footer-title {
  font-size: 12px;
  text-align: center;
}
.footer-title p {
  font-size: 32px;
}
.footer-title p span:nth-child(1) {
  color: rgb(188, 0, 22);
  font-family: "DynaPuff";
}
.footer-title p span:nth-child(2) {
  color: orange;
  font-family: "DynaPuff";
}
.footer ul {
  display: flex;
  gap: 10px;
}
.footer ul li i {
  font-size: 15px;
}
.footer-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-menu ul {
  display: flex;
  width: 150px;
  flex-direction: column;
}
.footer-menu ul li:nth-child(1) {
  font-weight: 700;
}
.footer-menu ul li:nth-child(1):hover {
  color: rgb(188, 0, 22);
}
.footer li {
  list-style-type: none;
}/*# sourceMappingURL=stil.css.map */